package ${package}.${moduleName}${modeleSpilter}mapper;  //修改

import ${package}.${moduleName}${modeleSpilter}entity.${className}Entity;
import com.baomidou.mybatisplus.core.mapper.BaseMapper;
import org.apache.ibatis.annotations.Mapper;

/**
 * ${comments}
 * 
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@Mapper
public interface ${className}Mapper extends BaseMapper<${className}Entity> {   //修改
	
}
