package $package.$moduleName${moduleSeparator}mapper;

import $package.$moduleName${moduleSeparator}model.dto.${className}DO;
import com.baomidou.mybatisplus.core.mapper.BaseMapper;
import org.apache.ibatis.annotations.Mapper;

/**
 * ${comments}
 * 
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
#if(${ormFrame}==1||${ormFrame}==2)
@Mapper
#end
public interface ${className}Mapper #if(${ormFrame}==1) extends BaseMapper<${className}DO> #end {
	
}
