package ${package}.$moduleName${moduleSeparator}service;

import com.baomidou.mybatisplus.extension.service.IService;
import ${package}.${moduleName}${moduleSeparator}model.dto.${className}DO;

/**
 * ${comments}Service
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
public interface ${className}Service #if(${ormFrame}==1)extends IService<${className}DO>#end {

}

